cms.uadesign.tokyo {
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }
    reverse_proxy payload:3000 {
        header_down -Access-Control-Allow-Origin
    }
}

uadesign.tokyo {
    reverse_proxy app:3000
}
